.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.question__flower {
  position: absolute;
  object-fit: contain;
  height: 1000px;
  transform: rotate(180deg);
  left: 0;
  top: 300px;
}

.question__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  margin: 0;
}

.question__header {
  height: 130px;
  object-fit: contain;
}

.question__text {
  font-size: 30px;
  line-height: 37px;
  margin: 30px 0 0;
  width: 100%;
}

.question__text-span {
  font-size: 20px;
  line-height: 37px;
  margin: 30px 0 0;
}

.question__form {
  display: flex;
  flex-direction: column;
  margin: 50px 0 0;
  background-color: #f8e6ee;
  padding: 60px 100px;
  border-radius: 30px;
}

.question__string {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  border: none;
  font-size: 30px;
  align-items: flex-start;
  padding: 0;
}

.question__label {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.question__label-input {
  margin: 0 0 20px 0;
}

.question__text-span {
  font-size: 24px;
  line-height: 37px;
  margin: 0;
}

.question__input {
  width: 600px;
  height: 55px;
  border-radius: 3.5px;
  border: .5px solid #7b335d;
  font-size: 30px;
  padding: 5px;
  box-sizing: border-box;
}

.question__button {
  width: 300px;
  height: 70px;
  font-size: 20px;
  border: none;
  align-self: center;
  border-radius: 3.5px;
  cursor: pointer;
  color: white;
  font-weight: 200;
  background-color: #7b335d;
  margin: 10px 0 0;
}

.question__button:disabled {
  opacity: .7;
}

.question__unvisible {
  font-family: inherit;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.question__visible-radio {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-radio {
  background-color: #435dc5;
}

.question__unvisible:disabled + .question__visible-radio {
  border: 1px solid #435dc5;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-radio {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-radio {
    box-shadow: 0 0 5px #f8f7f0;
}

.question__visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.645);
  cursor: pointer;
  background-color: #fff;
}

.question__unvisible:checked + .question__visible-checkbox {
  background-color: #435dc5;
}

.question__unvisible:disabled + .question__visible-checkbox {
  border: 1px solid #435dc5;
  background-color: #fbf8ec;
}

.question__unvisible:disabled:checked+ .question__visible-checkbox {
  background-color: #fbf8ec;
}

.question__unvisible:focus + .question__visible-checkbox {
  box-shadow: 0 0 5px #f8f7f0;
}

.question__answer {
  font-size: 20px;
  line-height: 37px;
  margin: 10px 0;
}

@media screen and (max-width: 1700px) {
  .question {
    padding: 100px 0 0;
  }

  .question__bloks {
    gap: 150px;
  }

  .question__container {
    max-width: 50%;
  }

  .question__header {
    height: 110px;
  }

  .question__flower {
    height: 800px;
    top: 150px;
  }

  .question__text {
    font-size: 26px;
    line-height: 33px;
    margin: 25px 0 0;
  }

  .question__form {
    margin: 40px 0 60px;
    padding: 40px 100px;
  }

  .question__text-span {
    font-size: 20px;
    line-height: 33px;
  }

  .question__string {
    margin: 0 0 20px;
    font-size: 22px;
  }

  .question__label {
    margin: 10px 0 0 0;
  }

  .question__label-input {
    margin: 0 0 15px 0;
  }

  .question__input {
    padding: 7px;
    width: 450px;
    font-size: 22px;
  }

  .question__button {
    font-size: 18px;
    height: 60px;
  }

  .question__answer {
    font-size: 18px;
    line-height: 33px;
    margin: 7px 0;
  }
}

@media screen and (max-width: 1300px) {
  .question {
    padding: 80px 0;
  }

  .question__header {
    height: 85px;
  }

  .question__text {
    font-size: 22px;
    line-height: 32px;
  }

  .question__flower {
    height: 600px;
    top: 100px;
  }

  .question__text-span {
    font-size: 18px;
    line-height: 24px;
  }

  .question__form {
    margin: 40px 0 0;
    padding: 40px 80px;
  }

  .question__string {
    margin: 0 0 20px;
    font-size: 20px;
    padding: 0;
  }

  .question__label {
    margin: 10px 0 0;
  }

  .question__label-input {
    margin: 0 0 10px 0;
  }

  .question__button {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }

  .question__input {
    font-size: 22px;
    height: 45px;
    width: 400px;
  }

  .question__answer {
    font-size: 14px;
    line-height: 28px;
    margin: 15px 0 5px 0;
  }
}

@media screen and (max-width: 800px) {
  .question {
    padding: 60px 0;
  }

  .question__bloks {
    width: 100%;
    gap: 0;
  }

  .question__container {
    max-width: 100%;
    align-items: center;
  }

  .question__flower {
    display: none;
  }

  .question__header {
    height: 70px;
  }

  .question__text {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
    margin: 20px 0 0;
  }

  .question__text-span {
    font-size: 16px;
    line-height: 23px;
  }

  .question__visible-radio {
    width: 14px;
    height: 14px;
  }

  .question__visible-checkbox {
    width: 14px;
    height: 14px;
  }

  .question__form {
    margin: 30px 0 0;
  }

  .question__string {
    margin: 0 0 15px;
    font-size: 18px;
  }

  .question__label {
    margin: 10px 0 0;
  }

  .question__input {
    height: 45px;
    font-size: 16px;
    width: 270px;
  }

  .question__button {
    width: 155px;
    height: 40px;
    font-size: 12px;
  }

  .question__answer {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 500px) {
  .question__text {
    font-size: 18px;
  }

  .question__form {
    margin: 20px 0 0;
    padding: 30px calc((85vw - 270px) / 2);
    box-sizing: border-box;
  }
}