@keyframes hello {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
}

.header__flower {
  margin: calc(((100vh - 100px) - (80vh - 100px)) / 2) 0 0;
  object-fit: contain;
  height: 80%;
  animation: hello 3s forwards ease;
}

@media screen and (max-width: 1700px) {
  .header {
    height: calc(100vh - 70px);
  }

  .header__flower {
    height: 95%;
    animation: hello 3s forwards ease;
    margin: calc(((100vh - 100px) - (95vh - 70px)) / 2) 0 0;
  }
}

@media screen and (max-width: 1300px) and (orientation:landscape) {
  .header {
    height: calc(100vh - 60px);
  }

  .header__flower {
    height: 95%;
    animation: hello 3s forwards ease;
    margin: calc(((100vh - 100px) - (95vh - 60px)) / 2) 0 0;
  }
}

@media screen and (max-width: 1300px) and (orientation:portrait) {
  .header {
    height: calc(100vh - 60px);
  }

  .header__flower {
    animation: hello 3s forwards ease;
    max-height: 95vw;
    height: 80%;
    margin: calc(((100vh - 100px) - (95vh - 60px)) / 2) 0 0;
  }
}

@media screen and (max-width: 800px) and (orientation:landscape){
  .header {
    height: calc(100vh - 50px);
  }

  .header__flower {
    height: 95%;
    animation: hello 3s forwards ease;
    margin: calc(((100vh - 100px) - (80vh - 50px)) / 2) 0 0;
  }
}

@media screen and (max-width: 850px) and (orientation:portrait){
  .header {
    height: 100vh;
  }

  .header__flower {
    height: 80%;
    animation: hello 3s forwards ease;
    min-height: 65vh;
    margin: 20vh 0 0;
  }
}