.rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 150px;
}

.rsvp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp__header {
  height: 100px;
  object-fit: contain;
  padding: 150px 0 0;
}

.rsvp__text {
  font-size: 30px;
  line-height: 40px;
  width: 55%;
  margin: 70px 0 0;
}

.rsvp__answer {
  font-size: 20px;
  line-height: 37px;
  margin: 10px 0;
}

.rsvp__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 0 0;
}

.rsvp__string {
  display: flex;
  flex-direction: row;
  margin: 0 0 35px;
}

.rsvp__label {
  font-size: 26px;
  line-height: 37px;
  margin: 0 25px 0 0;
  display: flex;
  align-items: center;
}

.rsvp__input {
  width: 340px;
  height: 55px;
  border-radius: 3.5px;
  border: .5px solid #7b335d;
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.rsvp__buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 30px;
  align-self: center;
  margin: 7px 0 0;
}

.rsvp__button {
  width: 240px;
  height: 70px;
  background-color: #7b335d;
  font-size: 20px;
  border: none;
  align-self: center;
  border-radius: 3.5px;
  cursor: pointer;
  color: white;
  font-weight: 200;
}

.rsvp__button:disabled {
  opacity: .7;
}

.rsvp__flowers {
  position: absolute;
  height: 1200px;
  right: 0;
  top: -500px;
  object-fit: contain;
}

.rsvp__stone {
  height: 1000px;
  object-fit: contain;
  position: absolute;
  bottom: 200px;
  left: -500px;
  z-index: -1;
}

.rsvp__stone2 {
  display: none;
}

@media screen and (max-width: 1700px) {
  .rsvp {
    height: 100vh;
    padding: 0;
  }

  .rsvp__text {
    font-size: 26px;
    line-height: 36px;
    margin: 50px 0 0;
  }

  .rsvp__header {
    height: 80px;
    padding: 120px 0 0;
  }

  .rsvp__form {
    margin: 40px 0 0;
  }

  .rsvp__return {
    font-size: 14px;
    line-height: 33px;
    padding: 0;
  }

  .rsvp__answer {
    font-size: 18px;
    line-height: 33px;
    margin: 7px 0;
  }

  .rsvp__label {
    font-size: 24px;
    line-height: 30px;
  }

  .rsvp__input {
    font-size: 20px;
    padding: 7px;
  }
  .rsvp__button {
    font-size: 18px;
    height: 60px;
  }

  .rsvp__flowers {
    height: 900px;
    top: -400px;
  }
  
  .rsvp__stone {
    height: 800px;
    bottom: 100px;
    left: -400px;
  }
}

@media screen and (max-width: 1300px) {
  .rsvp {
    padding: 80px 0 30px;
    height: 100%;
  }

  .rsvp__header {
    height: 60px;
    padding: 0;
    margin: 0 0 20px;
  }

  .rsvp__text {
    font-size: 22px;
    line-height: 32px;
    margin: 30px 0 0;
  }

  .rsvp__return {
    font-size: 10px;
    line-height: 28px;
  }

  .rsvp__answer {
    font-size: 14px;
    line-height: 28px;
    margin: 15px 0 5px 0;
  }

  .rsvp__form {
    min-width: 40%;
    margin: 30px 0 0;
  }

  .rsvp__string {
    margin: 0 0 25px;
  }

  .rsvp__label {
    font-size: 18px;
  }

  .rsvp__input {
    width: 300px;
    height: 45px;
    font-size: 18px;
  }

  .rsvp__buttons {
    gap: 20px;
  }

  .rsvp__button {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }

  .rsvp__flowers {
    height: 700px;
    top: -250px;
  }
  
  .rsvp__stone {
    height: 600px;
    bottom: 100px;
    left: -300px;
  }
}

@media screen and (max-width: 800px) {
  .rsvp {
    padding: 60px 0;
  }

  .rsvp__header {
    height: 50px;
  }

  .rsvp__text {
    font-size: 20px;
    line-height: 26px;
    width: 80%;
    margin: 20px 0 10px;
  }

  .rsvp__return {
    font-size: 16px;
    line-height: 22px;
  }

  .rsvp__answer {
    font-size: 16px;
    line-height: 22px;
  }

  .rsvp__form {
    min-width: 40%;
    margin: 28px 0 0;
  }

  .rsvp__string {
    margin: 0 0 15px;
  }

  .rsvp__label {
    font-size: 18px;
    line-height: 20px;
    margin: 0 10px 0 0;
  }

  .rsvp__input {
    width: 175px;
    height: 35px;
    font-size: 16px;
  }

  .rsvp__buttons {
    gap: 15px;
  }

  .rsvp__button {
    width: 140px;
    height: 40px;
    font-size: 12px;
  }

  .rsvp__flowers {
    display: none;
  }
  
  .rsvp__stone {
    height: 500px;
    bottom: 700px;
    left: -250px;
  }

  .rsvp__stone2 {
    display: block;
    position: absolute;
    transform: rotate(180deg);
    height: 400px;
    top: 100px;
    right: -200px;
    z-index: -1;
  }
}

@media screen and (max-width: 800px) {
  .rsvp {
    padding: 30px 0;
  }

  .rsvp__text {
    font-size: 18px;
    margin: 15px 0 10px;
  }

  .rsvp__label {
    font-size: 16px;
  }
}